name: Build and Push to Docker Hub

on:
  pull_request:
    types: [closed]
    branches: [main, master]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and Push Images
        run: |
          docker compose -f dockerfiles/docker-compose.yml build
          docker compose -f dockerfiles/docker-compose.yml push
